@page
@model UdemyRestaurantProject.Pages.Admin.FoodTypes.EditModel

<form method="post">
    <input hidden asp-for="FoodT.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
        <h2 class="text-primary pl-3">Update Food Type</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="FoodT.Name"></label>
        <input asp-for="@Model.FoodT.Name" class="form-control"/>
        <span asp-validation-for="FoodT.Name" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-primary" style="width:200px">Update</button>
    <a asp-page="Index" class="btn btn-secondary" style="width:200px">Back to Food Types</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
